server {
    listen       {{nginx_port}};
    server_name  {{nginx_server_name}};
{% if nginx_ssl %}
    ssl on;
    ssl_certificate /etc/letsencrypt/live/{{nginx_server_name}}/cert.pem;
    ssl_certificate_key /etc/letsencrypt/live/{{nginx_server_name}}/privkey.pem;
{% endif %}

{% if nginx_auth_basic %}
    satisfy any;
    allow 80.89.150.210; #Mixzaim ip
    allow 81.1.218.226;  #JM main office ip
    allow 127.0.0.1;
    auth_basic "Restricted Access";
    auth_basic_user_file /etc/nginx/htpasswd.users;
{% endif %}

{% for dir in nginx_dirs %}
    location {{dir}} {
{% if nginx_proxy %}
        proxy_pass http://backend-{{nginx_server_name}};
{% endif %}
        root   /usr/share/nginx/html;
        index  index.html index.htm;
        proxy_set_header   Upgrade $http_upgrade;
        proxy_set_header   Connection keep-alive;
        proxy_set_header   Host $host;
    }
{% endfor %}

    error_page   500 502 503 504  /50x.html;
    location = /50x.html {
        root   /usr/share/nginx/html;
    }
}

{% if nginx_proxy %}
upstream backend-{{nginx_server_name}} {
   {% for backend in nginx_backend %}
   server {{ backend }};
{% endfor %}
}
{% endif %}

