{% if ansible_os_family == "RedHat" %}
user  nginx;
{% endif %}

worker_processes  1;

error_log  /var/log/nginx/error.log warn;
pid        /var/run/nginx.pid;


events {
    worker_connections  {{ nginx_worker_connections }};
}


http {
    include       /etc/nginx/mime.types;
    default_type  application/octet-stream;

    log_format  main  '$remote_addr - $remote_user [$time_local] "$request" '
                      '$status $body_bytes_sent "$http_referer" '
                      '"$http_user_agent" "$http_x_forwarded_for"';

    access_log  /var/log/nginx/access.log  main;

    tcp_nodelay {{nginx_tcp_nodelay}};
    tcp_nopush {{nginx_tcp_nopush}};
    sendfile {{nginx_sendfile}};

    keepalive_timeout  {{nginx_keepalive}};

    #gzip  on;

    include /etc/nginx/conf.d/*.conf;
}

